{% extends 'main.html' %}
{% load static %}

{% block title %}
 Fanadesh 
 {% endblock %}
{% block myblock %}
<body class="sub_page">
    
    <section class="contact_section ">
        
    <div class="container">

      <div class="row">
        <div class="col-md-6">
          <div class="d-flex justify-content-center d-md-block">
            <h2>
              Contact Us
            </h2>
          </div>
          <form action="" method="post">
            {% csrf_token %}
            <div class="contact_form-container">
              <div>
                <div>
                  <input type="text" placeholder="Name" name="name">
                </div>
                <div>
                  <input type="email" placeholder="Email" name="email">
                </div>
                <div>
                  <input type="text" placeholder="Phone Number" name="phone_number">
                </div>
                <div class="mt-5">
                  <input type="text" placeholder="Message" name="message">
                </div>
                <div class="mt-5">
                  <button type="submit">
                    send
                  </button>
                </div>
              </div>

            </div>

          </form>
        </div>
        <div class="col-md-6">
          <div class="contact_img-box">
            <img src="{% static 'images/students.jpg' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
{% endblock %}