{% extends 'main.html' %}
{% load static %}

{% block title %} Fanadesh {% endblock %}

{% block myblock %}
  
  <div class="top_container sub_page">
  
  <section class="hero_section">
    <div class="hero-container container">
      <div class="hero_detail-box">
        <h1>
          Best way
          to fund
          your study
          abroad
        </h1>
        <p>
          ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam
        </p>
        <div class="hero_btn-continer">
          <a href="" class="call_to-btn btn_white-border">
            Read More
          </a>
        </div>
      </div>
      <div class="hero_img-container">
        <div>
          <img src="{% static 'images/hero.png' %}" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
  </div>

  <div class="common_style">

    <!-- about section -->
    <section class="about_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="about_img-container">
              <img src="{% static 'images/about.png'%}" alt="">
            </div>
          </div>
          <div class="col-md-6">
            {% for data in data%}
            <div class="about_detail-box">
              <h3>{{ data.title}}</h3>
              <p>
                {{ data.description }}
              </p>
              <div class="">
                <a href="" class="call_to-btn btn_white-border">
                  Read More
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>


    <!-- end about section -->



  </div>

  <div class="common_style">
  
  
  
    <!-- admission section -->
    <section class="admission_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            {% for admin in admin%}
            <div class="admission_detail-box">
              <h3>
                {{admin.title}}
              </h3>
              <p>
                {{admin.description}}
              </p>
              <div class="">
                <a href="" class="call_to-btn btn_white-border">
                  Read More
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="col-md-6">
            <div class="admission_img-container">
              <img src="{% static 'images/admission.png'%}" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- end admission section -->


  </div>


  <div class="common_style">
      
    <!-- why section -->
    <section class="why_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="why_img-container">
              <img src="{% static 'images/why.png' %}" alt="">
            </div>
          </div>
          <div class="col-md-6">
            {% for why in why%}
            <div class="why_detail-box">
              <h3>
                {{why.title}}
              </h3>
              <p>
                {{why.description}}
              </p>
              <div class="">
                <a href="" class="call_to-btn btn_white-border">
                  Read More
                </a>
              </div>
            </div>
            {% endfor%}
          </div>
        </div>
      </div>
    </section>


    <!-- end why section -->

  </div>

  <section class="client_section layout_padding">
    <h2 class="">
      Testimonial
    </h2>
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="row">
                      <div class="col-md-3">
                        <div class="client_img-box">
                          <img src="{% static 'images/client.png'%}" alt="">
                        </div>
                      </div>
                      <div class="col-md-9">
                        <div class="client_detail-box">
                          <h5>
                            Alex Du
                          </h5>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                          </p>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="carousel-item">
                  <div class="row">
                      <div class="col-md-3">
                        <div class="client_img-box">
                          <img src="{% static 'images/client.png' %}" alt="">
                        </div>
                      </div>
                      <div class="col-md-9">
                        <div class="client_detail-box">
                          <h5>
                            Alex Du
                          </h5>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                          </p>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="carousel-item">
                  <div class="row">
                      <div class="col-md-3">
                        <div class="client_img-box">
                          <img src="{% static 'images/client.png' %}" alt="">
                        </div>
                      </div>
                      <div class="col-md-9">
                        <div class="client_detail-box">
                          <h5>
                            Alex Du
                          </h5>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                          </p>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
          </div>
     
    </div>
  </section>
  <section class="contact_section ">
        
    <div class="container">

      <div class="row">
        <div class="col-md-6">
          <div class="d-flex justify-content-center d-md-block">
            <h2>
              Contact Us
            </h2>
          </div>
          <form action="" method="post">
            {% csrf_token %}
            <div class="contact_form-container">
              <div>
                <div>
                  <input type="text" placeholder="Name" name="name">
                </div>
                <div>
                  <input type="email" placeholder="Email" name="email">
                </div>
                <div>
                  <input type="text" placeholder="Phone Number" name="phone_number">
                </div>
                <div class="mt-5">
                  <input type="text" placeholder="Message" name="message">
                </div>
                <div class="mt-5">
                  <button type="submit">
                    send
                  </button>
                </div>
              </div>

            </div>

          </form>
        </div>
        <div class="col-md-6">
          <div class="contact_img-box">
            <img src="{% static 'images/students.jpg' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
